In [1]:
import sys
!{sys.executable} -m pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\aditya\appdata\roaming\python\python313\site-packages (1.1.0)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aditya\appdata\roaming\python\python313\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\aditya\appdata\roaming\python\python313\site-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in c:\users\aditya\appdata\roaming\python\python313\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\aditya\appdata\roaming\python\python313\site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\programdata\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)

In [2]:
import yfinance as yf
print("yfinance works ✅")

yfinance works ✅

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
stocks = [
    "TCS.NS",
    "RELIANCE.NS",
    "HDFCBANK.NS",
    "INFY.NS",
    "ITC.NS",
    "LT.NS"
]

index = ["^NSEI"]

In [6]:
data = yf.download(
    stocks + index,
    start="2010-01-01",
    end="2024-12-31",
    progress=False
)

data.head()

Price            Close                                                 \
Ticker     HDFCBANK.NS     INFY.NS     ITC.NS       LT.NS RELIANCE.NS
Date
2010-01-04   74.944519  222.178558  49.670887  603.804382  218.593124
2010-01-05   75.010437  222.922684  50.160442  604.875305  217.617508
2010-01-06   75.060974  219.669846  50.277946  598.182007  221.133682
2010-01-07   75.256485  214.733170  50.121288  595.308228  224.802307
2010-01-08   75.355354  209.558456  50.228989  599.074341  224.212891

Price                                      High                         ...  \
Ticker          TCS.NS        ^NSEI HDFCBANK.NS     INFY.NS     ITC.NS  ...
Date                                                                    ...
2010-01-04  262.774475  5232.200195   75.946298  223.658266  49.935250  ...
2010-01-05  262.844360  5277.899902   75.792527  223.717806  50.277936  ...
2010-01-06  256.901215  5281.799805   75.572845  228.165450  50.659808  ...
2010-01-07  249.751831  5263.100098   77.699420  219.967457  50.620643  ...
2010-01-08  244.647812  5244.750000   75.722230  214.584398  50.620639  ...

Price             Open                               Volume            \
Ticker     RELIANCE.NS      TCS.NS        ^NSEI HDFCBANK.NS   INFY.NS
Date
2010-01-04  221.763796  263.875692  5200.899902     6100980   4069264
2010-01-05  233.714756  263.945599  5277.149902    16773200   6895528
2010-01-06  219.487367  262.844361  5278.149902    13279680   6817288
2010-01-07  221.133693  257.128311  5281.799805    12247960  10892600
2010-01-08  225.198642  250.311284  5264.250000    14171800  12649312

Price
Ticker        ITC.NS    LT.NS RELIANCE.NS   TCS.NS ^NSEI
Date
2010-01-04   5360425  1060024    76646086  1963682   0.0
2010-01-05  11181903  2683989    21392825  2014488   0.0
2010-01-06   7819981  3076209    23691760  3349176   0.0
2010-01-07   5179515  2033021    26197920  6474892   0.0
2010-01-08   5069346  2940979    15110149  6048178   0.0

[5 rows x 35 columns]

In [8]:
data.columns

MultiIndex([( 'Close', 'HDFCBANK.NS'),
            ( 'Close',     'INFY.NS'),
            ( 'Close',      'ITC.NS'),
            ( 'Close',       'LT.NS'),
            ( 'Close', 'RELIANCE.NS'),
            ( 'Close',      'TCS.NS'),
            ( 'Close',       '^NSEI'),
            (  'High', 'HDFCBANK.NS'),
            (  'High',     'INFY.NS'),
            (  'High',      'ITC.NS'),
            (  'High',       'LT.NS'),
            (  'High', 'RELIANCE.NS'),
            (  'High',      'TCS.NS'),
            (  'High',       '^NSEI'),
            (   'Low', 'HDFCBANK.NS'),
            (   'Low',     'INFY.NS'),
            (   'Low',      'ITC.NS'),
            (   'Low',       'LT.NS'),
            (   'Low', 'RELIANCE.NS'),
            (   'Low',      'TCS.NS'),
            (   'Low',       '^NSEI'),
            (  'Open', 'HDFCBANK.NS'),
            (  'Open',     'INFY.NS'),
            (  'Open',      'ITC.NS'),
            (  'Open',       'LT.NS'),
            (  'Open', 'RELIANCE.NS'),
            (  'Open',      'TCS.NS'),
            (  'Open',       '^NSEI'),
            ('Volume', 'HDFCBANK.NS'),
            ('Volume',     'INFY.NS'),
            ('Volume',      'ITC.NS'),
            ('Volume',       'LT.NS'),
            ('Volume', 'RELIANCE.NS'),
            ('Volume',      'TCS.NS'),
            ('Volume',       '^NSEI')],
           names=['Price', 'Ticker'])

In [9]:
price_data = data.xs("Close", axis=1, level=0)
price_data.head()

Ticker,HDFCBANK.NS,INFY.NS,ITC.NS,LT.NS,RELIANCE.NS,TCS.NS,^NSEI
Date,,,,,,,
2010-01-04,74.944519,222.178558,49.670887,603.804382,218.593124,262.774475,5232.200195
2010-01-05,75.010437,222.922684,50.160442,604.875305,217.617508,262.844360,5277.899902
2010-01-06,75.060974,219.669846,50.277946,598.182007,221.133682,256.901215,5281.799805
2010-01-07,75.256485,214.733170,50.121288,595.308228,224.802307,249.751831,5263.100098
2010-01-08,75.355354,209.558456,50.228989,599.074341,224.212891,244.647812,5244.750000